.footer-sub {
	width : 1140px;
	padding : 20px 0px 70px 0px;
	margin : 0px auto;
}

@media (max-width: 1140px) {

@media (max-width: 991px) {
.footer-sub {
	display : none;
}
@media (max-width: 500px) {

}
}
}