// desktop&all ↓↓↓↓
.exhibition-detail-heading .exhibition-detail-info, .project-detail-heading .project-detail-info {
 height : 500px;
}
.exhibitions-list {
	padding : 20px 35px;
}
.ex-button {
	padding : 30px 50px 0px 50px;
}
.exhibitions-list-item {
	width : 33.3333% !important;
	padding : 10px 15px;
}
button.ex-buttons, button.ex-buttons:active   {
    padding-bottom :3px;
    margin-right : 8px;
    background:none;
    border:none;
    outline : none;
    border-bottom:1px solid #000;
    font-size : 16px;
    font-weight : 500;
    color : #000;
    font-family : 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' ;
}

// tablet ↓↓↓↓
@media (max-width: 991px) {
	.exhibition-detail-heading .exhibition-detail-info, .project-detail-heading .project-detail-info {
 height : 360px;
}
	.ex-button {
	padding : 30px 30px 0px 30px !important;
}
	.exhibitions-list {
	padding : 20px 20px !important;
}
.exhibitions-list-item {
	width : 49.999% !important;
	padding : 5px 10px !important;
}

// mobile ↓↓↓↓
@media (max-width: 500px) {
		.exhibition-detail-heading .exhibition-detail-info, .project-detail-heading .project-detail-info {
 height : 270px;
}
	.ex-button {
	padding : 30px 10px 0px 10px !important;
}
	.exhibitions-list {
	padding : 20px 0px !important;
}
.exhibitions-list-item {
	width : 100% !important;
	padding : 5px 10px !important;
}


}
}

