.exhibitioins {
	display: flex;
	flex-flow: column;

	.exhibitions-nav {
		display: block;
	}
	
}
.featured-ex {
	display : inline-block;
	float : left;
	margin-top : 10px;
}
.exhibition-register-container {
	display : inline-block;
	float : right;
}

button.exhibition-register, button.exhibition-register:focus {
	font-size : 16px;
	font-weight : 500;
	font-style : normal !important;
	padding : 10px 15px;
	margin-top : 7px;
	border-radius : 0px;
	border : 1px solid #eee;
	background-color : transparent;
	color : #000;
	outline : none;
}

button.exhibition-register:hover {
	background-color : #f55035;
	border : none;
	color : #fff;
}

@media (max-width: 991px) {
button.exhibition-register {
	font-size : 15px;
	padding : 8px 12px;
	margin-top : 7px;
}
@media (max-width: 500px) {
button.exhibition-register {
	font-size : 14px;
	padding : 6px 10px;
	margin-top : 9px;
}	
}
}