.exhibitions-heading {
	display: flex;
	flex-flow: column;
	align-items: center;
	
	.slick-slider {
		width: 93%;
		@media (max-width: 900px) {
			width: 88%;
			margin-bottom: 20px;
			
			.slick-dots {
				bottom: -25px;
				padding : 20px 0px;
			}
		}
	}
	
	.exhibitions-heading-item {
		display: flex;
		flex-flow: column;
		
		padding: 0 0.5vw;
		
		a {
			width: 100%;
			img {
				width: 100%;
			}	
		}
		
	}

}

.slick-prev {
	left : -2vw;
	
	@media (max-width: 900px) {
		display: none !important;
	}
}

.slick-next {
	right : -2vw;
	@media (max-width: 900px) {
		display: none !important;
	}
}

.slick-prev:before {
	content : "";
	color : #000;
	font-size : 30px;
	font-weight : 600;
	font-family : Ionicons;
	width : 26px !important;
	height : 26px !important;
}

.slick-next:before {
	content : "";
	color : #000;
	font-size : 30px;
	font-weight : 600;
	font-family : Ionicons;
	width : 26px !important;
	height : 26px !important;
}

.slick-next:before:hover, .slick-prev:before:hover {
	color : #000;
}

.exhibition-heading-item-info {
	padding: 8px 10px 8px 10px;
}