// desktop&all ↓↓↓↓
.ex-location-schedule {
	font-weight : 600 !important;
	color : #777;
}
.slick-dots li {
	margin : 0px !important;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #555;
}
.slick-dots li button:before {
    color: #4b709a;
}
.slick-prev, .slick-next {
	top : 50%;
}
.Select-multi-value-wrapper {
	border-right: 1px solid #ececec;
}
.exhibition-detail-heading .exhibition-detail-info, .project-detail-heading .project-detail-info {
 height : 500px;
}
.exhibitions-list {
	width : 1192px;
	margin : 0px auto;
	padding : 20px 0px;
	@media (max-width: 1192px) {
	width : 100%;
	padding : 20px 40px;
	}
}
.exhibitions-nav {
	width : 1172px;
	margin : 0px auto;
	padding : 30px 0px 20px 0px;
	@media (max-width: 1192px) {
	width : 100%;
	padding : 30px 50px 20px 50px;
	}
}
.ex-button {
	width : 1172px;
	margin : 0px auto;
	padding : 30px 0px 0px 0px;
	@media (max-width: 1192px) {
	width : 100%;
	padding : 30px 50px 0px 50px;
	}
}
.exhibitions-list-item {
	width : 33.3333% !important;
	padding : 10px 10px;
}
button.ex-buttons, button.ex-buttons:active   {
    padding-bottom :3px;
    margin-right : 8px;
    background:none;
    border:none;
    outline : none;
    border-bottom:1px solid #000;
    font-size : 16px;
    font-weight : 500;
    color : #000;
    font-family : 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' ;
}

// tablet ↓↓↓↓
@media (max-width: 991px) {
	.exhibition-detail-heading .exhibition-detail-info, .project-detail-heading .project-detail-info {
 height : 360px;
}
	.ex-button {
	padding : 30px 30px 0px 30px !important;
}
	.exhibitions-list {
	padding : 20px 20px !important;
}
	.exhibitions-nav {
	padding : 20px 30px 20px 30px;
	display : inline-block;
}
	.exhibitions-list-item {
	width : 49.999% !important;
	padding : 5px !important;
}

// mobile ↓↓↓↓
@media (max-width: 500px) {
		.exhibition-detail-heading .exhibition-detail-info, .project-detail-heading .project-detail-info {
 height : 270px;
}
	.ex-button {
	padding : 30px 10px 0px 10px !important;
}
	.exhibitions-list {
	padding : 20px 0px !important;
}
.exhibitions-nav {
	padding : 15px 10px 15px 10px;
	display : inline-block;
}
.exhibitions-list-item {
	padding : 3px !important;
}
}
}

