.project-detail-overview {
	display: flex;
	flex-flow: column;
	margin-bottom : 60px !important;

	.project-detail-overview-info {
		display: flex;
		flex-flow: column;
		.editorStyles__viewerWrapper {
			width : 100%;
		}
		h3 {
			margin-bottom : 20px;
		}
	}
}
