.project-editor-tab {
	width : 850px;
	margin : 50px auto 0px auto;
}
.funding-container, .abstract-container {
	background : #eee;
}
.project-editor-tab-button {
	padding : 15px 20px;
	background : #fff;
	border : none;
}
.project-editor-tab-button:focus, .project-editor-tab-button:active {
	padding : 15px 20px;
	border : 1px solid #999;
	border-bottom : 1px solid #eee;
	border-top-right-radius : 5px;
	border-top-left-radius : 5px;
	background : #eee;
	outline : none;
}

@media (max-width: 991px) {
	
	
@media (max-width: 500px) {
	
}
}