.project-detail-post {

	.project-detail-post-heading {

	}

	.project-detail-post-container {

		.project-detail-post-item {
			display: flex;
			flex-flow: column nowrap;

		}

	}

}
.post-item-title-detail {
	display : inline-block;
	font-size : 15px !important;
	height : 15px;
	line-height : 0.9;
	font-weight : 600 !important;
	color : #666;
	padding-right : 10px;
	margin-right : 10px;
	border-right : 1px solid #666;
}
.post-item-title-detail:nth-child(3) {
	border-right : none;
}
