<html>
	<head>
		<title>[7Pictures] 입점 신청</title>
	</head>
	<body>
		<h3>Body</h3>
		<div class="body">
			<% for (k of Object.keys(body)) { %>
				<div>
					<%= k %> : <%= body[k] %>
				</div>
			<%} %>
		</div>
	</body>
</html>
