.tab-red-dot {
    position : absolute;
    margin : -4px 0px 0px 4px;
}
.Select-control {
	width : 20%;
	float : right;
}
.Select-menu-outer {
	width : 20%;
	position : absolute;
	left : 80%;
	margin-top : -20px;
}
.project-detail-tab {
    text-align : center;
    margin : 0px auto 40px auto;
    width : 800px;
    border-bottom : 1px solid #ddd;
    .fix-search & {
        position: fixed;
        top: 10px;
    }
}
.project-tab-button {
    padding : 18px 30px 15px 30px;
    background : none;
    border : none;
    outline : none;
    font-size : 18px;
    font-weight : 500;
    color : #777;
}
.project-tab-button-clicked {
    box-shadow : 0px 1px 0px 0px #4b709a;
    color : #4b709a;
}
@media (max-width: 991px) {
    
.project-tab-button {
    padding : 15px 36px;
    color : #777;
}
.project-detail-tab {
    width : 100%;
    -webkit-box-shadow: 0px 0.5px 1px 0px rgba(28,28,28,0.5);
    -moz-box-shadow: 0px 0.5px 1px 0px rgba(28,28,28,0.5);
    box-shadow: 0px 0.5px 1px 0px rgba(28,28,28,0.5);
    border : none;
}
.project-tab-button-clicked {
    box-shadow : 0px 1px 0px 0px #4b709a;
    color : #4b709a;
}
@media (max-width: 500px) {
    .Select-control {
	width : 100%;
	float : right;
    }
    .Select-menu-outer {
	width : 100%;
	position : absolute;
	left : 0%;
    }
    .project-detail-tab {
    margin : 0px auto 30px auto;
    box-shadow: none;
}
    .project-tab-button {
    padding : 13px 23px 13px 23px;
    font-size : 16px;
    width : 25%;
    background : #f6f6f6;
    -webkit-box-shadow: inset 0px -1px 0px 0px #ddd;
    -moz-box-shadow: inset 0px -1px 0px 0px #ddd;
    box-shadow: inset 0px -1px 0px 0px #ddd;
}
.project-tab-button-clicked {
    box-shadow : inset 0px -2px 0px 0px #4b709a;
    color : #4b709a;
    background : #fff;
}
}   
}