.magazine-description {
	margin-top : 7px !important;
	font-size: 16px!important;
    color: #333;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    height: 3.6em;
}
.magazines-heading-category-item {
	display : inline-block;
	p {
		font-size : 16px;
	}
}
.magazine-writer-icon {
	border-radius : 50px;
	margin-bottom : 3px;
}
.ma-menu-thumbnail {
	position: relative;
	padding-top :60%;
	overflow : hidden;
}
.magazine-list-item-info {
	border : 1px solid #eee;
	padding : 10px 15px;
}
.magazine-menu-list-item {
	width : 33.33333%;
	height: auto;
    vertical-align: top;
    display: inline-block;
    padding :5px;
}
.magazines-list {
	width : 1192px;
	margin : 0px auto;
	padding : 20px 0px 20px 0px;
	@media (max-width: 1192px) {
            width : 100%;
            padding : 20px 40px 20px 40px;
        }
}
.magazine-category-button {
	background:none;
	border : none;
	outline : none;
	color : #333;
}
.magazine-category-button:focus {
	background:none;
	border : none;
	outline : none;
	color : #4b709a;
}
.magazine-category-button:hover {
	color : #4b709a;
}
.magazines {
	display: flex;
	flex-flow: column;
}
.magazines-heading-nav {
	width : 1172px;
	margin : 0px auto;
	padding : 15px 0px 20px 0px;
	@media (max-width: 1192px) {
            width : 100%;
            padding : 15px 50px 20px 50px;
        }
}
.magazines-heading-category-container {
	width : 1172px;
	margin: 0px auto;
    padding: 18px 0px 18px 0px;
    border-top: 1px solid #eee;
    border-bottom : 1px solid #eee;
    @media (max-width: 1192px) {
            width : auto;
            margin: 0px 50px 0px 50px;
        }
}

@media (max-width: 991px) {
	.magazine-menu-list-item {
	width : 49.99999%;
}
	.magazines-list {
	padding : 20px;
}
	.magazines-heading-nav {
    padding : 15px 30px 15px 30px;
}
	.magazines-heading-category-container {
	margin: 0px 30px 0px 30px;
    padding: 16px 0px 16px 0px;
    border-top: 1px solid #eee;
    border-bottom : 1px solid #eee;
}

@media (max-width: 500px) {
	.magazines-heading-category-item {
		width : 33.3333333%;
		text-align : center;
		p {
		font-size : 15px;
	}
	}
	.magazine-category-button {
		color : #555;
	}
	.magazine-category-button:focus {
		color : #4b709a;
	}
	.magazines-heading-category-item:nth-child(1), .magazines-heading-category-item:nth-child(2), .magazines-heading-category-item:nth-child(3) {
		margin-bottom : 12px;
	}
	.magazines-heading-category-item:nth-child(2) {
		border-left : 1px dashed #ccc;
		border-right : 1px dashed #ccc;
	}
	.magazines-heading-category-item:nth-child(5) {
		border-left : 1px dashed #ccc;
		border-right : 1px dashed #ccc;
	}
	.magazine-writer-icon {
		width : 18px !important;
		height : 18px !important;
	}
	.magazine-menu-list-item {
	width : 49.9999%;
	padding : 3px;
}
	.magazines-list {
	padding : 10px 0px 20px 0px;
}
    .magazines-heading-nav {
    padding : 10px;
    text-align : center;
}
.magazines-heading-category-container {
	margin: 0px 10px 0px 10px;
    padding: 10px 0px 14px 0px;
    border: none;
}
.magazine-description {
	display : none !important;
}
.magazine-list-item-info {
	padding : 0px 6px 0px 6px;
	h4 {
        font-weight : 400;
        font-size: 15px;
	    color: #333;
	    text-overflow: ellipsis;
	    word-wrap: break-word;
	    overflow: hidden;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	    line-height: 1.2em;
	    height: 2.4em;
    }
    img {
        margin-right : 2px;
    }
    p {
        color : #555;
        font-weight : 600;
    }
}
}   
}