.exhibition-editor-title {
	text-align : center;
	margin-bottom : 40px;
	h5 {
		margin : 3px 0px;
	}
}
.exhibition-editor-tab-container {
		display : inline-block;
		width : 33.33333%;
		padding : 0px;
	}
.exhibition-editor-tab {
	width : 1132px;
	margin : 40px auto 30px auto;
}
.exhibition-editor-tab-button {
	padding: 0px;
    font-size: 17px;
    background: #f9f9f9;
    box-shadow: inset 0 1px 0 0 #ddd;
    border: none;
    outline: 0;
    font-weight: 500;
    color: #777;
    text-align: center;
    height: 46px;
    width: 100%;
    font-family : NanumSquare;
	@media(max-width:500px) {
		font-size : 16px;
	}
}
.exhibition-editor-tab-button:focus {
	outline : none;
}
.exhibition-editor-tab-button-clicked {
	outline : none;
    box-shadow: inset 0 2px 0 0 #6662ff;
    color: #6662ff;
    background: #fff;
}

@media (max-width: 1080px) {
	.exhibition-editor-tab {
	width : 95%;
	margin : 30px auto;
}
@media (max-width: 500px) {
	.exhibition-editor-tab-save-button {
		display : block;
		margin : 0px auto 20px auto;
		float : none;
	}
	.exhibition-editor-tab-container {
		width : 33.33333%;
		text-align : center;
	}
}	
}

.editor-tab-guide {
    padding: 12px 20px;
    background: #eee;
    border-radius: 4px;
    font-family: NanumSquare;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    color: #555;
    div {
        font-size : 17px;
        font-family: NanumSquare;
    }
}
.editor-tab-guide-icon {
	display: inline-block;
    font-size: 17px;
    color: #6662ff;
    margin: 0px 3px;
    border-radius: 20px;
    font-weight: 400;
    vertical-align: bottom;
}
.editor-tab-guide-icon:before {
	font-family: FontAwesome;
    content: "\f05d";
}

.editor-title {
    font-size: 32px;
    font-weight: 600;
    color: #555;
    font-family: NanumSquare;
}