.magazine-detail {
    margin-bottom : 50px;
}
.magazine-prev-next-button {
    width : 784px;
    margin : 20px auto;
}
.magazine-prev-button {
    background : transparent;
    border : 1px solid #eee;
    outline : none;
    width : 90px;
    height : 40px;
    color : #666;
    font-weight : 600;
}
.magazine-prev-button:before {
    font-family : Ionicons;
    content : "\f3d2";
    margin-right : 7px;
    font-size : 13px;
}
.magazine-next-button {
    float : right;
    background : transparent;
    border : 1px solid #eee;
    outline : none;
    width : 90px;
    height : 40px;
    color : #666;
    font-weight : 600;
}
.magazine-next-button:after {
    font-family : Ionicons;
    content : "\f3d3";
    margin-left : 7px;
    font-size : 13px;
}
.magazine-prev-button:hover, .magazine-next-button:hover {
    border : 1px solid #6662ff;
    color : #6662ff;
}
.magazine_pre_hover_title, .magazine_next_hover_title {
    display: none;
    color: #6662ff;
    font-size: 13px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #6662ff;
    height: 40px;
    line-height: 28px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    @media(max-width : 600px) {
            max-width: 150px;
            @media(max-width : 400px) {
                display : none;
            }
    }
}
.magazine_pre_hover_title {
    margin-left: 5px;
    vertical-align: bottom;
}
.magazine_next_hover_title {
    float: right;
    margin-right: 5px;
}
.magazine-prev-link:hover, .magazine-next-link:hover {
    .magazine_pre_hover_title, .magazine_next_hover_title {
        display : inline-block;
        @media(max-width : 400px) {
                display : none;
        }
    }
    .magazine-prev-button, .magazine-next-button {
    border : 1px solid #6662ff;
    color : #6662ff;
    }
}
.magazine-detail-contents {
    width : 800px;
    margin : 0px auto 60px auto;
    min-height : 300px;
    img {
        display : block;
		margin : 10px auto 0px auto;
		max-width : 100% !important;
    }
}
.magazine-detail-related-contents-list {
    width : 800px;
    margin : 0px auto;
}

@media (max-width: 991px) {
    .magazine-prev-next-button {
    padding : 0px 48px !important;
	width : 100% !important;
}
    .magazine-detail-contents {
    padding : 0px 40px !important;
	width : 100% !important;
}
.magazine-detail-related-contents-list {
    padding : 0px 40px !important;
	width : 100% !important;
}
@media (max-width: 500px) {
    .magazine-prev-next-button {
    padding : 0px 15px !important;
	width : 100% !important;
}
    .magazine-detail-related-contents-list {
    padding : 0px 10px !important;
	width : 100% !important;
}
.magazine-detail-contents {
    padding : 0px 10px !important;
	width : 100% !important;
}
}    
}