.magazine-detail-heading {
	display: block;
	text-align :center;

	& > img {
		position: relative;
		width: 100%;
	}

	& > h2 {
		position: relative;
		text-align : center;
		margin : 50px auto;
	}
}

.magazine-detail {
	
}

@media (max-width: 991px) {
	
	
@media (max-width: 500px) {
	
}	
}