// FONT
div, span, h1, h2, h3, h4, button {
    font-family : FontAwesome, "Noto Sans DemiLight", "Malgun Gothic";
}
// desktop&all ↓↓↓↓
.editorStyles__wrapper {
    width : 100% !important;
}
.editorStyles__editor {
    padding : 20px 40px !important;
    span {
        padding : 0px;
        margin-top : 0px;
    }
    .public-DraftStyleDefault-div {
        font-size : 18px;
        line-height : 1.5;
        color : #333;
        margin : 10px 0px;
        @media (max-width : 500px) {
             font-size : 16px;
        }
    }
    h1 {
        font-size : 36px !important;
        color : #333;
        margin : 10px 0px;
        @media (max-width : 500px) {
             font-size : 33px !important;
        }
    }
    h2 {
        font-size : 28px !important;
        line-height : 1.4;
        color : #777;
        font-weight : 600;
        margin : 10px 0px;
        @media (max-width : 500px) {
             font-size : 26px !important;
        }
    }
    blockquote {
        margin : 15px 0px;
        font-size : 20px;
        font-weight : 600;
        font-style : italic;
        color : #333;
        border-left : none;
        text-align : center;
        @media (max-width : 500px) {
             padding : 8px;
             font-size : 18px;
        }
    }
    blockquote:before {
        font-family : FontAwesome;
        content : "\f10d";
        font-size : 22px;
        display : block;
        margin-bottom : 8px;
        @media (max-width : 500px) {
             margin-bottom : 4px;
        }
    }
    blockquote:after {
        font-family : FontAwesome;
        content : "\f10e";
        font-size : 22px;
        display : block;
        margin-top : 10px;
        @media (max-width : 500px) {
             margin-top : 6px;
        }
    }
}
.editorStyles__viewer {
    border : none !important;
    padding : 0px !important;
    margin : 2em auto;
    .public-DraftStyleDefault-div {
        font-size : 18px;
        line-height : 1.5;
        color : #333;
        margin : 20px 0px;
        @media (max-width : 500px) {
             font-size : 16px;
        }
    }
    h1 {
        font-size : 36px !important;
        color : #333;
        margin : 25px 0px;
        @media (max-width : 500px) {
             font-size : 33px !important;
        }
    }
    h2 {
        font-size : 28px !important;
        line-height : 1.4;
        color : #777;
        font-weight : 600;
        margin : 23px 0px;
        @media (max-width : 500px) {
             font-size : 26px !important;
        }
    }
    blockquote {
        margin : 20px 0px;
        font-size : 20px;
        font-weight : 600;
        font-style : italic;
        color : #333;
        border-left : none;
        text-align : center;
        @media (max-width : 500px) {
             padding : 8px;
             font-size : 18px;
        }
    }
    blockquote:before {
        font-family : FontAwesome;
        content : "\f10d";
        font-size : 22px;
        display : block;
        margin-bottom : 8px;
        @media (max-width : 500px) {
             margin-bottom : 4px;
        }
    }
    blockquote:after {
        font-family : FontAwesome;
        content : "\f10e";
        font-size : 22px;
        display : block;
        margin-top : 10px;
        @media (max-width : 500px) {
             margin-top : 6px;
        }
    }
}
.image-gallery-more-button, .image-gallery-more-button:focus {
    border : 1px solid #333;
    border-radius : 2px;
    outline : none;
    right : 0;
    left : 0;
    bottom : 0;
    top : 0;
    margin : 430px auto 50px auto;
    width : 125px;
    height : 40px;
    position : absolute;
    background : transparent;
    @media (max-width: 991px) {
        margin : 330px auto 50px auto;
        width : 125px;
    @media (max-width: 500px) {
        width : 100px;
        height : 30px;
        margin : 345px auto 50px auto;
        font-size : 12px;
    }
    }
}
.image-gallery-bullets .image-gallery-bullet.active {
    background : #444;
}
.image-gallery-slide {
    position: absolute;
    overflow: hidden;
    height : 546px;
}

.image-gallery-image {
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.image-gallery-slide img {
	width : auto !important;
	height : 100%;
	position: absolute;
    top: 0;
   	left: 0;
   	right: 0;
    bottom: 0;
   	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    @media (min-width: 1280px) {
        width : 100% !important;
        height : auto;
    }
}
.image-gallery-description {
    right : 0;
    text-align : center;
    font-size : 44px;
    font-weight : 800;
    top : 0;
    bottom : 0 !important;
    height : 15%;
    width : 80%;
    background : transparent !important;
    margin : auto;
    text-shadow: 0 0 50px rgba(40,40,40,0.3), 0 2px 5px rgba(40,40,40,0.2);
    h4 {
        margin-top : 30px !important;
        font-size : 22px;
        font-weight : 500;
    }
    @media (max-width: 991px) {
        font-size : 34px !important;
        width : 85%;
        h4 {
        font-size : 18px;
        }
    @media (max-width: 500px) {
        font-size : 28px !important;
    }
    }
}
//메인 슬라이더 폰트/더보기 버튼 스타일
.image-gallery-slide:first-child {
    .image-gallery-description {
        color : #000;
    }
    .image-gallery-more-button, .image-gallery-more-button:focus {
        border-color : #000;
        color : #000;
}
}
.image-gallery-slide:nth-child(2) {
    .image-gallery-description {
        color : #fff;
    }
    .image-gallery-more-button, .image-gallery-more-button:focus {
        border-color : #fff;
        color : #fff;
}
}
.image-gallery-slide:nth-child(3) {
    .image-gallery-description {
        color : #fff;
    }
    .image-gallery-more-button, .image-gallery-more-button:focus {
        border-color : #fff;
        color : #fff;
}
}
.image-gallery-slide:nth-child(4) {
    .image-gallery-description {
        color : #4b709a;
    }
    .image-gallery-more-button, .image-gallery-more-button:focus {
        border-color : #fff;
        color : #fff;
}
}
.image-gallery-slide:nth-child(5) {
    .image-gallery-description {
        color : #4b709a;
    }
    .image-gallery-more-button, .image-gallery-more-button:focus {
        border-color : #fff;
        color : #fff;
}
}
//메인 슬라이더 폰트/더보기 버튼 스타일

.Select-control {
    border-radius: 0px !important;
    border : 3px solid #eee;
    
}
::selection {
    background-color : #4b709a;
    color : #fff;
}
a, a:hover, a:focus {
    color : #000 !important;
    border : none !important;
    outline : none !important;
    text-decoration : none !important;
    transition : opacity, 220ms;
}
button:hover, button:focus {
    transition : opacity, 220ms;
}
.share-button, .share-button:focus {
	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 0px;
    z-index: 55;
    margin: 0 auto;
    width: 800px;
    background : #4b709a;
    border : none;
    outline : none;
}
.magazine-list-container {
    display : block !important;
}
.magazine-list-item:first-child {
    width : 40%;
    padding : 10px 10px;
    height : auto;
    float : left;
}
.magazine-list-item  {
    width : 20%;
    padding : 10px 10px;
    height : 250px;
    vertical-align : top;
    display : inline-block;
    @media (max-width: 991px) {
        height : auto;
    }
}
.slick-dots {
    bottom : -45px;
}
button.present-more-button, button.present-more-button:active, button.more-ex-button, button.more-ex-button:active {
    padding-bottom :3px;
    background:none;
    border:none;
    outline : none;
    border-bottom:1px solid #666;
    font-size : 16px;
    font-weight : 500;
    color : #666;
    font-family : 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' ;
    @media (max-width: 500px) {
        border-bottom : none;
    }
}
div.recent-exhibition-list-button {
    text-align :center;
    padding : 20px 0px;
    @media (max-width: 500px) {
        padding : 15px 0px 0px 0px !important;
    }
}
div.magazine-list-button {
    text-align :center;
    padding : 0px 0px 40px 0px;
    border-bottom : 1px solid #ddd;
    @media (max-width: 500px) {
        padding : 15px 0px 18px 0px !important;
    }
}
    img.home-exhibition-image {
        width : 100%;
        height : 100%;
    }
    div.present-project-list-item-caption {
        padding : 8px 10px;
        height : auto;
        min-height : 125px;
    }
    div.recent-exhibition-list-item {
        width : 33.3333%;
        padding : 5px 5px 20px 5px;
    }
    div.home-body {
        width : 1172px;
        margin : 0px auto;
        @media (max-width: 1192px) {
            width : 100%;
            padding : 0px 20px;
        }
        .react-tabs [role=tab]:first-child {
    width : 180px;
    height : 36px;
    text-align : center;
    font-size : 15px;
    color : #777;
    border-bottom : 1px solid #777;
    border : 1px solid #777;
    border-right : none;
    border-radius : 3px 0px 0px 3px;
}
.react-tabs [role=tab]:nth-child(2) {
    width : 180px;
    height : 36px;
    text-align : center;
    font-size : 15px;
    color : #777;
    border-bottom : 1px solid #777;
    border : 1px solid #777;
    border-left : 1px solid #4b709a;
    border-radius : 0px 3px 3px 0px;
}
.react-tabs [role=tablist] {
    margin : 5px 5px 10px 5px;
    text-align : center;
    border : none;
}
.react-tabs [role=tab][aria-selected=true] {
    border-color : #4b709a;
    color : #4b709a;
}
}
    div.home-heading {
        text-align : center;
        padding : 23px 10px 25px 10px;
    }
    div.home-info {
    padding-top : 10px;
    padding-bottom : 20px;
    text-align : center;
    border-bottom : 1px solid #ddd;
}
div.present-project-list-item {
    margin : 0px 5px;
    border : 1px solid #ddd;
    h5 {
        line-height : 1.5;
    }
}
div.present-project-list-item-container {
    width : 49.9999% !important;
    padding-top : 10px;
}
div.present-more-project {
    text-align :center;
    padding : 30px 0px 20px 0px;
    @media (max-width: 500px) {
        padding : 13px 0px 0px 0px;
    }
}
    h5 {
        font-size:16px;
        font-weight:500;
    }
    h4 {
        font-size:16px;
        font-weight:600;
    }
    h3.project-list-title {
        margin-top : 5px !important;
    }
    h3 {
        font-size:24px;
        font-weight:700; 
    }
    h2 { //page name
        font-size:38px;
        font-weight:500;
        font-family:'Adobe Garamond W08','adobe-garamond-pro','AGaramondPro-Regular','Times New Roman','Times','serif';
    }
    h1 {
        font-size :40px;
        font-weight :700;
    }
    p:not([data-offset-key]),
    p:not([data-text]),
    span:not([data-offset-key])
    span:not([data-text]) {
        font-size : 16px;
        font-weight : 400;
        margin : 0px;
    }
// tablet ↓↓↓↓
@media (max-width: 991px) {
     
    .share-button {
	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 0px;
    z-index: 55;
    margin: 0 auto;
    width: 100%;
    background : #4b709a;
}
   div.home-body {
       width : 100%;
    padding: 0px 20px;
}
    h5 {
        font-size:14px;
        font-weight:500;
    }
    h4 {
        font-size:14px;
        font-weight:600;
    }
    h3 {
        font-size:22px;
        font-weight:700;
    }
    h2 {
        font-size:32px;
        font-weight:500;
    }
    h1 {
        font-size :32px;
        font-weight :800;
    }
    p:not([data-offset-key]),
    p:not([data-text]),
    span:not([data-offset-key])
    span:not([data-text]) {
        font-size : 14px;
        font-weight : 400;
    }
    div.present-project-list-item {
    margin : 0px 3px;
    border : 1px solid #ddd;
}
div.present-project-list-item-container {
    width : 100% !important;
    padding : 8px 0px;
}
div.recent-exhibition-list-item {
        width : 49.999%;
        padding : 5px 5px 15px 5px;
    }
    .magazine-list-container {
    display : flex !important;
}
    .magazine-list-item:first-child {
    width : 100% !important;
    padding : 5px 5px !important;
    height : auto;
}
    .magazine-list-item {
    width : 49.999% !important;
    padding : 5px 5px !important;
}
.home-magazine-list-item {
    border : 1px solid #eee;
	padding : 0px 8px 8px 8px;
}
.image-gallery-slide {
    position: absolute;
    overflow: hidden;
    height : 420px;
}

.image-gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.image-gallery-slide img {
	width : auto !important;
	height : 100%;
	position: absolute;
    top: 0;
   	left: 0;
   	right: 0;
    bottom: 0;
   	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
 
// mobile ↓↓↓↓ 
@media (max-width: 500px) {
    
    div.present-project-list-item-caption {
        min-height : 120px;
    }
    .image-gallery-slides {
   width: 100%; 
}
div.home-heading {
    text-align : center !important;
    padding : 18px 0px 15px 0px;
    h2 {
        margin : 5px 0px;
        font-size : 26px;
        color : #555;
    }
}
.image-gallery-slide {
    position: absolute;
    overflow: hidden;
    height : 420px;
}

.image-gallery-image {
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.image-gallery-slide img {
	width : auto !important;
	height : 100%;
	position: absolute;
    top: 0;
   	left: 0;
   	right: 0;
    bottom: 0;
   	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
    .share-button {
	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 0px;
    z-index: 55;
    margin: 0 auto;
    width: 100%;
    background : #4b709a;
}
 div.home-body {
    padding: 0px;
    .react-tabs [role=tablist] {
        text-align : center;
        border : none;
    }
    .react-tabs [role=tab]:first-child {
        width : 50%;
        height : 33px;
        font-size : 13px;
        color : #777;
        border-bottom : 1px solid #777;
        border : 1px solid #777;
        border-right : none;
        border-radius : 2px 0px 0px 2px
    }
    .react-tabs [role=tab]:nth-child(2) {
        width : 50%;
        height : 33px;
        font-size : 13px;
        color : #777;
        border-bottom : 1px solid #777;
        border : 1px solid #777;
        border-left : 1px solid #4b709a;
        border-radius : 0px 2px 2px 0px
    }
    .react-tabs [role=tab][aria-selected=true] {
        border-color : #4b709a;
        color : #4b709a;
    }
}

    h5 {
        font-size:14px;
        font-weight:500;
    }
    h4 {
        font-size:14px;
        font-weight:600;
    }
    h3 {
        font-size:20px;
        font-weight:700;
    }
    h2 {
        font-size:28px;
        font-weight:500;
    }
    h1 {
        font-size :28px;
        font-weight :800;
    }
    p:not([data-offset-key]),
    p:not([data-text]),
    span:not([data-offset-key])
    span:not([data-text]) {
        font-size : 14px;
        font-weight : 400;
    }
    div.present-project-list-item {
    margin : 0px 3px;
    border : 1px solid #ddd;
}
div.present-project-list-item-container {
    width : 100% !important;
    padding : 5px 0px;
}
div.recent-exhibition-list-item {
        width : 49.9999%;
        padding : 3px;
    }
.ex-location-schedule {
    display : none;
}
.ex-list-info {
    padding : 0px 6px !important;
    border : 1px solid #eee;
    border-top : none;
    min-height : 50px;
    h4 {
        font-weight : 400;
    }
}
    .magazine-list-container {
    display : flex !important;
}
   .magazine-list-item:first-child {
    width : 100% !important;
    padding : 5px 3px !important;
    height : auto;
    h4 {
        font-weight : 400;
        font-size : 17px;
        min-height : 24px;
    }
}
    .magazine-list-item {
    width : 49.999% !important;
    padding : 3px !important;
    h4 {
        font-weight : 400;
        font-size : 15px;
        min-height : 34px;
    }
    img {
        margin-right : 2px;
    }
    p {
        color : #555;
        font-weight : 600;
    }
}
.home-magazine-list-item {
	padding : 0px 6px 6px 6px;
}
}
}

span {
    display : block;
}