.ex-list-info {
	padding : 0px 2px;
}
.ex-artist-name {
	float : right;
	margin-top : 10px !important;
}
.ex-icon {
	margin-right : 3px;
	margin-bottom : 2px;
}
.more-ex-button:before {
	font-family : Ionicons;
	font-weight : 600;
	content : "\f2f5";
	margin-right : 5px;
}
.recent-exhibition-list {
	border-bottom : 1px solid #ddd;
	padding-bottom : 20px;
	.recent-exhibition-list-container {
		display: flex;
		flex-flow: row wrap;

		.recent-exhibition-list-item {
			display: flex;
			flex-flow: column;
		}

	}
	@media (max-width: 500px) {
        padding-bottom : 18px;
        border-bottom : 1px solid #ccc;
		-webkit-box-shadow: 0px 7px 0px 0px rgba(238,238,238,1);
		-moz-box-shadow: 0px 7px 0px 0px rgba(238,238,238,1);
		box-shadow: 0px 7px 0px 0px rgba(238,238,238,1);
    }
}

.ex-thumbnail {
	position: relative;
	padding-top :56.25%;
	overflow : hidden;
}
.ex-centered {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

img.home-exhibition-image {
	position: absolute;
    top: 0;
    left: 0;
    max-height : 115%;
    max-width : 200%;
    height: auto !important;
    width : auto !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
