.doneuiart-info-1 {
    font-size: 18px;
    font-family: NanumSquare;
    width: 80%;
    margin: 20px auto;
}
.doneuiart-info-2 {
    font-size: 21px;
    font-family: NanumSquare;
    margin: 0px auto 5px auto;
    width: 80%;
}
.doneuiart-info-3 {
    font-size: 21px;
    font-family: NanumSquare;
    margin: 0px auto;
    width: 80%;
}
.doneuiart-info-4 {
    font-size: 17px;
    font-family: NanumSquare;
    margin: 0px auto 20px auto;
    width: 80%;
}
.doneuiart-mainimg {
    cursor: pointer;
}
.doneuiart-artist {
    text-align: center;
    font-size: 17px;
    font-family: NanumSquare;
    margin-top: 8px;
}