.header-menu-fixed {
    background : transparent;
    position: absolute;
    z-index: 100;
    width: 100%;
    border-bottom : 1px solid #fff;
}
.header-menu-fixed-left {
    display : inline-block;
    width : 60%;
    .header-menu-logo {
        width : 160px;
        margin : 10px 15px;
    }
    .header-menu-text-left {
        display : inline-block;
        color : #fff;
        font-size : 17px !important;
        font-weight : 600 !important;
        margin : 10px !important;
        vertical-align : middle;
    }
}
.header-menu-fixed-right {
    text-align : right;
    display : inline-block;
    width : 40%;
    .header-menu-text-right {
        display : inline-block;
        color : #fff;
        font-size : 17px !important;
        font-weight : 600 !important;
        margin-right : 30px !important;
        vertical-align : middle;
    }
}
