
.magazine-list {

	.magazine-list-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		.magazine-list-item {
			width: 30%;

			img:first-child {
				width: 100%;
			}

		}

	}

}
