.present-project-list {
	border-bottom : 1px solid #ddd;
	padding-bottom : 18px;
	@media (max-width: 500px) {
		border-bottom : 1px solid #ccc;
		-webkit-box-shadow: 0px 7px 0px 0px rgba(238,238,238,1);
		-moz-box-shadow: 0px 7px 0px 0px rgba(238,238,238,1);
		box-shadow: 0px 7px 0px 0px rgba(238,238,238,1);
	}
}
.present-project-list-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;

	.present-project-list-item {
		display: block;

		img {
			width: 100%;
		}
	}
}

.pr-thumbnail {
	position: relative;
	padding-top :55%;
	overflow : hidden;
}

.progressbar-container {
	height : 2.5px;
	background : #eee;
	border-radius : 1px;
}
.progressbar-progress {
	height : 2.8px !important;
	background : -webkit-linear-gradient(left, #4b709a 0%, #DB96DB 100%);
	border-radius : 1px !important;
}
.project-summary-detail {
	display : block;
	margin-top : 5px;
	text-align : center;
	color : #0c0c0c;
	font-weight : 600;
	font-size : 18px;
}
.project-remain-days {
	float : left;
	color : #444;
	font-weight : 500;
	font-size : 16px;
	width : 100px;
	text-align : left;
	@media (max-width : 500px) {
		width : 80px;
	}
}
.project-summary-current-money {
	float : right;
	color : #444;
	font-weight : 500;
	font-size : 16px;
	width : 100px;
	text-align : right;
	@media (max-width : 500px) {
		width : 80px;
	}
}
.present-more-button:before {
	font-family : Ionicons;
	content : "\f48a";
	font-weight : 700;
}