.product-purchase-num {
	font-weight :600;
	font-size : 14px;
	p {
		display : inline-block;
		margin-right : 3px;
		font-size : 14px !important;
		font-weight : 600 !important;
		color : #150C8B;
	}
}
.success-icon {
	z-index: 9999;
    position: absolute;
    top : 21%;
    left : 33%;
    opacity : 0.85;
    @media (max-width : 1080px) {
    	width : 70px;
    	height : 70px;
    }
    @media (max-width : 991px) {
    	width : 70px;
    	height : 70px;
    	top : 25%;
    	left : 36%;
    }
    @media (max-width : 500px) {
    	top : 22%;
    	left : 30.5%;
    	width : 65px;
    	height : 65px;
    }
    @media (max-width : 370px) {
    	top : 18%;
    	left : 28%;
    	width : 60px;
    	height : 60px;
    }
}

.home-sub-title {
		display: block;
   		width: 97%;
    	margin: 0px auto 20px auto;
    	background: url(//t1.daumcdn.net/brunch/static/img/help/pc/bg_related_160905.gif)0 10px repeat-x;
    	text-align: center;
    	@media (max-width : 991px) {
    		width : 95%;
    	@media (max-width : 500px) {
    	}
    	}
    	h3 {
		display : inline-block;
		padding : 0px 25px;
		text-align : center;
		color: #555;
		font-weight : 500;
		font-size : 22px;
		background-color : #fff;
		letter-spacing : -1px;
		margin : 0px !important;
		line-height : 20px;
		@media (max-width : 991px) {
    		font-size: 18px;
    		padding : 0px 18px;
    		font-weight : 500;
    	}
	}
}