.present-project-list {
	border-bottom : 1px solid #ddd;
	padding-bottom : 20px;
}
.present-project-list-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;

	.present-project-list-item {
		display: block;

		img {
			width: 100%;
		}
	}
}

.pr-thumbnail {
	position: relative;
	padding-top :55%;
	overflow : hidden;
}
