.profile {

	.sharing-icon { width: 20px; height: 20px; }

	.profile-indirect-supports-container {
		display: flex;
		flex-flow: row wrap;

		.profile-indirect-supports-item {
			width: 500px;

			img:first-child { width: 100%; }
		}

	}

	.profile-direct-supports-container {
		display: flex;
		flex-flow: row wrap;

		.profile-direct-supports-item {
			img:first-child {
				height : 110px;
				max-width: 100%;
				float : left;
			}
		}
	}
	.react-tabs [role=tablist] {
		width : 800px;
		margin : 0px auto 30px auto;
		@media (max-width : 991px) {
			width : 95%;
		}
	}
	.react-tabs [role=tab] {
		width : 136px;
		height : 38px;
		text-align : center;
		line-height : 1.7;
		font-size : 14px;
		font-weight : 600;
		color : #777;
		@media (max-width : 500px) {
			width : 33.333333333333%;
			font-size : 12px;
			height : 35px;
			line-height : 1.8;
		}
	}
	.react-tabs [role=tab][aria-selected=true] {
		color : #333;
		border-radius: 3px 3px 0 0;
	    -moz-border-radius: 3px 3px 0 0;
	    -webkit-border-radius: 3px 3px 0 0;
	}
}
.direct-display-img-container {
	width : 20%;
	display : inline-block;
}
.direct-display-name-container {
	width : 56%;
	display : inline-block;
	vertical-align : top;
}
.direct-display-name {
	font-weight : 400 !important;
	text-align : left;
	width : 100%;
	padding : 0px 0px 2px 12px;
}
.direct-display-money {
	font-weight : 600 !important;
	text-align : left;
	width : 100%;
	padding-left : 12px;
}
.direct-display-cancel {
	width : 24%;
	text-align : right;
	vertical-align : bottom;
	margin-bottom : 6px;
	.direct-cancel-button, .direct-cancel-button:focus  {
		padding : 6px 15px;
		background-color : #150C8B;
		border : none;
		border-radius : 3px;
		outline : none;
		color : #fff;
		font-size : 14px;
		font-weight : 600;
		width : 80%;
		@media (max-width : 500px) {
			font-size : 12px;
			padding : 4px 8px;
			width : 100%;
		}
	}
	.direct-cancel-button:hover {
		background-color : #0d0669;
	}
	.direct-cancel-button2, .direct-cancel-button2:focus  {
		padding : 6px 15px;
		background-color : #ddd;
		border : none;
		border-radius : 3px;
		outline : none;
		color : #777;
		font-size : 14px;
		font-weight : 600;
		width : 80%;
		@media (max-width : 500px) {
			font-size : 12px;
			padding : 4px 8px;
			width : 100%;
		}
	}
	.direct-cancel-button2:hover {
		cursor : default;
	}
}
.direct-display-name, .direct-display-money, .direct-display-cancel {
	display: inline-block;
}
.profile-direct-supports-item {
	width : 100%;
	padding : 5px;
	margin-top : 10px;
	border : 1px solid #bbb;
	border-radius : 2px;
	padding-bottom : 0px;
}
.direct-supports-container {
	width : 800px;
	margin : 0px auto 60px auto;
	h4 {
		color : #555 !important;
	}
}
.indirect-support {
	width : 800px;
	margin : 0px auto 20px auto;
	padding-bottom : 40px;
	border-bottom : 1px solid #bbb;
}
.profile-thumbnail-container {
	text-align : center;
	width : 800px;
	margin : 50px auto 20px auto;
	padding-bottom : 50px;
}
.profile-user-thumbnail {
	border-radius : 100px;
	margin-bottom : 10px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
	width : 100px;
	height : 100px;
}

.indirect-support-detail-likes, .indirect-support-detail-comments, .indirect-support-detail-shares  {
	display :inline-block;
	width : 33.33333%;
	text-align : center;
	height : 60px;
	margin-top : 30px;
	padding-top : 5px;
}
.indirect-support-detail-comments {
	border-left : 1px solid #bbb;
	border-right : 1px solid #bbb;
}
.indirect-support-h4 {
	display : inline-block;
}

@media (max-width: 991px) {
	.profile-direct-supports-item {
	width : 100%;
}
	.direct-supports-container {
		width : 95%;
		margin : 0px auto 15px auto;
		padding-bottom : 25px;
	}
	.indirect-support {
	width : 100%;
	margin-bottom : 15px;
	padding-bottom : 25px;
}
.profile-thumbnail-container {
	text-align : center;
	width : 95%;
	margin : 50px auto 15px auto;
	padding-bottom : 35px;
}
@media (max-width: 500px) {
	.profile .profile-direct-supports-container .profile-direct-supports-item img:first-child {
		height : 75px;
	}
	.indirect-support-detail-likes, .indirect-support-detail-comments, .indirect-support-detail-shares {
		padding-top : 7px;
	}
}
}