.profile, .admin-profile-wrapper {

	.sharing-icon { width: 20px; height: 20px; }

	.profile-indirect-supports-container {
		display: flex;
		flex-flow: row wrap;

		.profile-indirect-supports-item {
			width: 500px;

			img:first-child { width: 100%; }
		}

	}

	.profile-direct-supports-container {
		display: flex;
		flex-flow: row wrap;

		.profile-direct-supports-item {
			img:first-child {
				height : 110px;
				max-width: 100%;
				float : left;
			}
		}
	}
	.react-tabs [role=tablist] {
		width : 800px;
		margin : 0px auto 30px auto;
		border-bottom : 0px;
		@media (max-width : 991px) {
			width : 100%;
		}
	}
	.react-tabs [role=tab] {
		    padding: 13px 23px 13px 23px;
		    font-size: 16px;
		    width: 33.3333333333333333%;
		    background: #f9f9f9;
		    box-shadow: inset 0 1px 0 0 #ddd;
		    border: none;
		    outline: 0;
		    font-weight: 500;
		    color: #777;
		    text-align : center;
		    height : auto;
		    font-family : NanumSquare;
		@media (max-width : 500px) {
			font-size : 14px;
			padding: 13px 15px 13px 15px;
		}
	}
	.react-tabs [role=tab][aria-selected=true] {
		    box-shadow: inset 0 2px 0 0 #6662ff;
		    color: #6662ff;
		    background: #fff;
		    border-radius : 0px !important;
	}
}
.admin-profile-wrapper {

	.sharing-icon { width: 20px; height: 20px; }

	.profile-indirect-supports-container {
		display: flex;
		flex-flow: row wrap;

		.profile-indirect-supports-item {
			width: 500px;

			img:first-child { width: 100%; }
		}

	}

	.profile-direct-supports-container {
		display: flex;
		flex-flow: row wrap;

		.profile-direct-supports-item {
			img:first-child {
				height : 110px;
				max-width: 100%;
				float : left;
			}
		}
	}
	.react-tabs [role=tablist] {
		width : 800px;
		margin : 0px auto 30px auto;
		border-bottom : 0px;
		@media (max-width : 991px) {
			width : 100%;
		}
	}
	.react-tabs [role=tab] {
		    padding: 13px 23px 13px 23px;
		    font-size: 17px;
		    width: 50%;
		    background: #f9f9f9;
		    box-shadow: inset 0 1px 0 0 #ddd;
		    border: none;
		    outline: 0;
		    font-weight: 500;
		    color: #777;
		    text-align : center;
		    height : auto;
		    font-family : NanumSquare;
		@media (max-width : 500px) {
			font-size : 15px;
			padding: 13px 15px 13px 15px;
		}
	}
	.react-tabs [role=tab][aria-selected=true] {
		    box-shadow: inset 0 2px 0 0 #6662ff;
		    color: #6662ff;
		    background: #fff;
		    border-radius : 0px !important;
	}
}
.direct-display-img-container {
	width : 20%;
	display : inline-block;
}
.direct-display-name-container {
	width : 56%;
	display : inline-block;
	vertical-align : top;
}
.direct-display-name {
	font-weight : 400 !important;
	text-align : left;
	width : 100%;
	padding : 0px 0px 2px 12px;
}
.direct-display-money {
	font-weight : 600 !important;
	text-align : left;
	width : 100%;
	padding-left : 12px;
}
.direct-display-cancel {
	width : 24%;
	text-align : right;
	vertical-align : bottom;
	margin-bottom : 6px;
	.direct-cancel-button, .direct-cancel-button:focus  {
		padding : 6px 15px;
		background-color : #6662ff;
		border : none;
		border-radius : 3px;
		outline : none;
		color : #fff;
		font-size : 14px;
		font-weight : 600;
		width : 80%;
		@media (max-width : 500px) {
			font-size : 12px;
			padding : 4px 8px;
			width : 100%;
		}
	}
	.direct-cancel-button:hover {
		background-color : #5346ff;
	}
	.direct-cancel-button2, .direct-cancel-button2:focus  {
		padding : 6px 15px;
		background-color : #ddd;
		border : none;
		border-radius : 3px;
		outline : none;
		color : #777;
		font-size : 14px;
		font-weight : 600;
		width : 80%;
		@media (max-width : 500px) {
			font-size : 12px;
			padding : 4px 8px;
			width : 100%;
		}
	}
	.direct-cancel-button2:hover {
		cursor : default;
	}
}
.direct-display-name, .direct-display-money, .direct-display-cancel {
	display: inline-block;
}
.profile-direct-supports-item {
	width : 100%;
	padding : 5px;
	margin-top : 10px;
	border : 1px solid #bbb;
	border-radius : 2px;
	padding-bottom : 0px;
}
.direct-supports-container {
	width : 800px;
	margin : 0px auto 60px auto;
	h4 {
		color : #555 !important;
	}
}
.indirect-support {
	width : 800px;
	margin : 0px auto 20px auto;
	padding-bottom : 40px;
	border-bottom : 1px solid #bbb;
}
.profile-thumbnail-container {
	text-align : center;
	width : 800px;
	margin : 50px auto 20px auto;
	padding-bottom : 50px;
}
.profile-user-thumbnail {
	border-radius : 100px;
	margin-bottom : 10px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.6);
	width : 100px;
	height : 100px;
}

.indirect-support-detail-likes, .indirect-support-detail-comments, .indirect-support-detail-shares  {
	display :inline-block;
	width : 33.33333%;
	text-align : center;
	height : 60px;
	margin-top : 30px;
	padding-top : 5px;
}
.indirect-support-detail-comments {
	border-left : 1px solid #bbb;
	border-right : 1px solid #bbb;
}
.indirect-support-h4 {
	display : inline-block;
}

@media (max-width: 991px) {
	.profile-direct-supports-item {
	width : 100%;
}
	.direct-supports-container {
		width : 95%;
		margin : 0px auto 15px auto;
		padding-bottom : 25px;
	}
	.indirect-support {
	width : 100%;
	margin-bottom : 15px;
	padding-bottom : 25px;
}
.profile-thumbnail-container {
	text-align : center;
	width : 95%;
	margin : 50px auto 15px auto;
	padding-bottom : 35px;
}
@media (max-width: 500px) {
	.profile .profile-direct-supports-container .profile-direct-supports-item img:first-child {
		height : 75px;
	}
	.indirect-support-detail-likes, .indirect-support-detail-comments, .indirect-support-detail-shares {
		padding-top : 7px;
	}
}
}

/* 
.profile_tab1:before {
	font-family : FontAwesome;
	content : "\f2c0";
	margin-right : 7px;
	@media (max-width : 500px) {
		margin-right : 5px;
	}
}
.profile_tab2:before {
	font-family : FontAwesome;
	content : "\f09d";
	margin-right : 7px;
	@media (max-width : 500px) {
		margin-right : 5px;
	}
}
.profile_tab3:before {
	font-family : FontAwesome;
	content : "\f0d1";
	margin-right : 7px;
	@media (max-width : 500px) {
		margin-right : 5px;
	}
}
*/

.daum_postcode_wrap {
	display: none;
	border: 1px solid;
	width: 100%;
	height: 300px;
	margin: 5px 0;
	position: relative;
}

.daum_postcode_wrap_img {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: -1px;
	z-index: 5;
}


.purchase-change-element-container {
	padding : 30px 8px 0px 8px;
}
.purchase-change-container {
  padding : 8px 8px 0px 8px;
}
.purchase-change {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  outline: 0;
  padding: 20px 10px;
  text-align: center;
}
.purchase-change-selected, .purchase-change-selected:focus {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #6662ff;
  outline: 0;
  padding: 20px 10px;
  text-align: center;
}
.purchase-change-title {
  font-size: 13px !important;
  font-weight: 600!important;
  color: #333;
}
.purchase-change-description {
  font-size: 12px!important;
  font-weight: 600!important;
  color: #777;
}

.purchase-info-change-button, .purchase-info-change-button:focus {
	background : transparent;
	border: none;
	border-bottom : 1px solid #6662ff;
	outline : 0;
	padding: 2px;
	margin-top : 5px;
	color : #6662ff;
	font-size : 12px;
}

.purchase-change-button-container {
	text-align : center;
	margin : 15px 0px;
}

.purchase-change-modal-close {
    position: absolute;
    right: 2%;
    top: 1%;
    width: 30px;
    height: 30px;
    border: none;
    outline: 0;
    background: 0 0;
    padding: 0!important;
}
.purchase-change-modal-close:before {
	font-family: Ionicons;
    content: "\f404";
    color: #888;
    font-size: 26px;
    font-weight: 300;
}

.purchase-change-guide {
	font-size : 13px !important;
	font-weight : 600 !important;
	color : #555;
	text-align : center;
	margin-top : 15px;
}