.login-7pictures-logo {
    width : 180px;
    height : auto;
    text-align : center;
    margin-bottom : 50px;
}
.login-page {
    background : #eee;
    width: 100%;
    padding : 100px 0px 100px 0px;
}
.user-login {
    width : 345px;
    margin : 0px auto;
    text-align : center;
    border : 1px solid #ddd;
    padding : 50px 30px 25px 30px;
    background : #fff;
}

.fb-login-btn, .login-btn {
    background : #000;
    width : 280px;
    color : #fff;
    height : 45px;
    border : none;
    outline : none;
    font-size : 15px;
    font-weight : 700;
}
.fb-login-btn:hover, .login-btn:hover {
    background : #4b709a;
    transition : opacity, 250ms;
}

.fb-login-icon {
    margin-right : 8px !important;
}

.fb-login-btn {
    margin-bottom : 25px;
}

.login-more {
    margin-bottom : 25px !important;
    font-size : 14px;
}

.login-btn {
    margin-top : 10px;
    margin-bottom : 20px;
}

.user-login-id {
    width : 280px;
    border : 2px solid #eee;
    margin-bottom : 10px;
    height : 45px;
    padding-left : 10px;
}
.user-login-password {
    width : 280px;
    border : 2px solid #eee;
    height : 45px;
    padding-left : 10px;
}
.user-login-username {
    width : 280px;
    border : 2px solid #eee;
    margin-top : 10px;
    height : 45px;
    padding-left : 10px;
}

.user-login-id:focus, .user-login-password:focus, .user-login-username:focus {
    outline : none;
    border : 2px solid #4b709a;
    transition : opacity, 250ms;
}

.password-find {
    background : transparent;
    border : none;
    outline : none;
    font-size : 16px;
    font-weight : 600;
    text-align : right;
    float : right;
    margin-top : 5px;
    padding: 0px !important;
}
.create-id {
    background : transparent;
    border : none;
    outline : none;
    font-size : 16px;
    font-weight : 600;
    padding: 0px !important;
    margin-left : 5px;
}
.password-find:hover, .create-id:hover {
    color : #4b709a;
}
.create-id-text {
    text-align : left;
    margin-top : 20px !important;
    font-size : 16px !important;
}

.user-login-form {
    border-bottom : 2px solid #eee;
}