.project-detail-qna {
	display: flex;
	flex-flow: column;

	.project-detail-qna-form {
		display: flex;
		flex-flow: column;

		& > div {
			display: block !important;
			flex-flow: row;

			& > div {
				width: 100%;
			}
		}
	}

}
