<html>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<head>
		<title>[7Pictures 배송지 변경] <%= shortTitle %> - <%= name %></title>
	</head>
	<body>
		<div class="mail-body">
			<div class="mail-logo-body">
				<img src="https://netflix-salon.co.kr/assets/images/7pictures_logo.png" height='32' > 
			</div>
			<div class="mail-content-body">
				<div class="mail-content-empty"></div>
				<h3>[배송지 변경]</h3>
				<div>
					<%= shortTitle %>  <%= name %> 배송지 변경
				</div>
				<div class="mail-content-empty"></div>
			</div>
		</div>
	</body>
</html>
