.project-detail-ranking {
	display: flex;
	flex-flow: column;

	.project-detail-ranking-info {

	}

	.project-detail-ranking-container {

		.project-detail-ranking-item {
			display: flex;
			flex-flow: column;

			.sharing-icon {
				width: 36px;
				height: 36px;
			}

		}

	}
}

.ranking-fb-icon {
	border-radius : 50px;
	border : 2px solid #4b709a;
	margin-left : -10px;
}

.ranking-fb-icon-list {
	border-radius : 50px;
	border : 2px solid #4b709a;
}

.project-detail-ranking-info:first-child {
	margin-bottom : 10px;
}
.project-detail-ranking-info {
	text-align : center;
	margin-bottom : 30px;
}
.Select-clear {
	display : none;
}
.sharing-summary {
	width : 70%;
}

.project-ranking-th {
	display : flex;
}