.sharing-name {
	font-size : 18px;
	font-weight : 800;
	display : inline-block;
}
.sharing-money {
	color : #4b709a;
	display : inline-block;
}

.project-detail-ranking {
	display: flex;
	flex-flow: column;

	.project-detail-ranking-info {

	}

	.project-detail-ranking-container {

		.project-detail-ranking-item {
			display: flex;
			flex-flow: column;

			.sharing-icon {
				width: 16px;
				height: 16px;
				margin-bottom : 2px;
				margin-left: 0px !important;
			}

		}

	}
}

.ranking-fb-icon {
	border-radius : 50px;
	border : 2px solid #fff;
	margin-left : -10px;
}

.ranking-fb-icon-list {
	border-radius : 50px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.project-detail-ranking-info:first-child {
	margin-bottom : 10px;
}
.project-detail-ranking-info {
	text-align : center;
	margin-bottom : 30px;
}
.Select-clear {
	display : none;
}
.sharing-summary {
	width : 80%;
}

.project-ranking-th {
	display : block;
}

.likes-num, .likes-icon {
	text-align : center;
	font-weight : 600;
	float : right;
	vertical-align : middle;
}

.sharing-summary {
	display : inline-block;
	vertical-align : top;
}

.sharing-fb-icon-list {
	display : inline-block;
	vertical-align : top;
	margin-right : 15px !important;
}

.likes-text {
	color : #4b709a;
	font-weight : 800;
}

@media (max-width: 991px) {

.sharing-summary {
	width : 65%;
}
@media (max-width: 500px) {

.sharing-summary {
	width : 57%;
}
}
}