.sharing-name {
	font-size : 18px !important;
	font-weight : 800 !important;
	display : inline-block;
}
.sharing-money {
	color : #150C8B;
	font-weight : 600 !important;
	display : inline-block;
}
.sharing-icon-summary {
	width : 80px;
	text-align : right;
	display : inline-block;
	float : right;
	.likes-num {
		width : 80px;
		text-align : right;
		margin-bottom : 3px;
		font-weight : 600;
		color : #150C8B;
		font-size : 18px;
	}
}

.project-detail-ranking {
	display: flex;
	flex-flow: column;

	.project-detail-ranking-info {
			font-size : 17px;
	}

	.project-detail-ranking-container {

		.project-detail-ranking-item {
			display: flex;
			flex-flow: column;

			.sharing-icon {
				width: 17px;
				height: 17px;
				margin-bottom : 4px;
				margin-left: 5px !important;
				@media (max-width : 500px) {
					margin-bottom : 3px;
				}
			}

		}

	}
	.Select-control {
		border : 2px solid #eee;
		border-radius : 3px !important;
	}
	.Select-clear-zone {
		width : 6px;
	}
	.Select-menu-outer {
		margin-top : -2px;
	}
}

.ranking-fb-icon {
	border-radius : 50px;
	border : 2px solid #fff;
	margin-left : -10px;
}

.ranking-fb-icon-list {
	border-radius : 50px;
	border : 2px solid #ddd;
}

.project-detail-ranking-info:first-child {
	margin-bottom : 20px;
}
.project-detail-ranking-info {
	text-align : center;
	margin-bottom : 30px;
}
.Select-clear {
	display : none;
}
.sharing-summary {
	width : 80%;
	br {
		display : none;
	}
	a {
		color : #150C8B !important;
		font-weight : 600;
	}
	a:before {
		font-family : Ionicons;
		content : "\f20b";
		font-size : 13px;
		margin-right : 2px;
		@media (max-width: 991px) {
			margin-bottom : 1px;
		}
	}
}

.project-ranking-th {
	display : block;
}

.likes-num, .likes-icon {
	text-align : center;
	font-weight : 600;
	float : right;
	vertical-align : middle;
}

.sharing-summary {
	display : inline-block;
	vertical-align : top;
}

.sharing-fb-icon-list {
	display : inline-block;
	vertical-align : top;
	margin-right : 15px !important;
}

.likes-text {
	color : #150C8B;
	font-weight : 800;
}

@media (max-width: 991px) {

.sharing-summary {
	width : 65%;
}
@media (max-width: 500px) {

.sharing-summary {
	width : 57%;
}
}
}

.sharing-number {
	color : #150C8B;
	display : inline-block;
	font-size : 17px !important;
	font-weight : 600 !important;
}