.sponsor-icon-homepage, .sponsor-icon-facebook, .sponsor-icon-blog {
	margin : 12px 8px 0px 8px;
	color : #555;
	transition : opacity, 220ms;
}
.sponsor-icon-homepage:hover, .sponsor-icon-facebook:hover, .sponsor-icon-blog:hover {
	color : #4b709a;
	transition : opacity, 220ms;
}
.sponsor-description-text {
	font-size : 14px !important;
	color : #555;
}
.sponsor-description {
	border: 1px solid #ddd;
	background : #fff;
	padding : 15px;
	text-align : center;
}
.sponsor-thumbnail {
	position: relative;
	padding-top :65%;
	overflow : hidden;
	border: 1px solid #ddd;
	border-bottom : none;
	transition : opacity, 220ms;
	.sponsor-money-container {
	display : block;
	position: absolute;
    z-index: 999;
    top: 0;
    text-align: center;
    height: 26px;
    line-height: 2;
    left: 50%;
    margin-bottom: 10px;
}
	.sponsor-money {
	position: relative;
    left: -50%;
    font-size: 20px!important;
    color: transparent;
    width: 500px;
    height: 280px;
    background: transparent;
    border-radius: 3px;
    transition : opacity, 220ms;
}
}
.sponsor-thumbnail:hover {
	transition : opacity, 220ms;
	.sponsor-money-container {
	display : block;
	position: absolute;
    z-index: 999;
    top: 0;
    text-align: center;
    height: 26px;
    line-height: 2;
    left: 50%;
    margin-bottom: 10px;
}
	.sponsor-money {
	position: relative;
    padding-top: 20%;
    left: -50%;
    font-size: 22px!important;
    color: #fff;
    width: 500px;
    height: 280px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    transition : opacity, 220ms;
    @media (max-width : 1025px) {
    	padding-top : 15%;
    @media (max-width : 991px) {
    	padding-top : 19%;
    @media (max-width : 500px) {
    	padding-top : 22%;
    @media (max-width : 400px) {
    	padding-top : 20%;
    @media (max-width : 330px) {
    	padding-top : 17%;
    }
    }
    }
    }
    }
}
}
.sponsor-centered {
	 position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

img.sponsor-logo-image {
position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.sponsor {
	.sponsor-list-container {
		display: flex;
		flex-flow: row wrap;

		.sponsor-list-item {
			img {
			}
		}
	}
}
.sponsor-haeding {
		width : 1172px;
        margin : 0px auto;
        padding : 15px 0px 20px 0px;
        text-align : center;
        @media (max-width: 1192px) {
            width : 100%;
            padding : 15px 50px 20px 50px;
        }
	}
.sponsor-list-container {
		width : 1192px;
        margin : 0px auto;
        padding : 20px 0px 20px 0px;
        @media (max-width: 1192px) {
            width : 100%;
            padding : 20px 40px 20px 40px;
        }
	}
.sponsor-list-item {
	width : 33.33333%;
	height: auto;
    vertical-align: top;
    display: inline-block;
    padding :10px;
}
@media (max-width: 991px) {
.sponsor-haeding {
      padding : 15px 30px 20px 30px;
	}
.sponsor-list-container {
	padding : 20px 20px 20px 20px;
}
.sponsor-list-item {
	width : 49.99999%;
}
@media (max-width: 500px) {
.sponsor-haeding {
      padding : 10px 10px 10px 10px;
      text-align : center;
	}
.sponsor-list-container {
	padding : 10px 0px 20px 0px;
}
.sponsor-list-item {
	width : 100%;
	padding :3px;
}
}
}
