.sponsor-description-text {
	padding-top: 15px;
    border-top: 1px solid #ddd;
}
.sponsor-description {
	border: 1px solid #ddd;
	border-top : none;
	background : #fff;
	padding : 0px 15px 15px 15px;
	text-align : center;
}
.sponsor-thumbnail {
	position: relative;
	padding-top :65%;
	overflow : hidden;
	border: 1px solid #ddd;
	border-bottom : none;
}
.sponsor-centered {
	 position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

img.sponsor-logo-image {
position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.sponsor {
	.sponsor-list-container {
		display: flex;
		flex-flow: row wrap;

		.sponsor-list-item {
			img {
			}
		}
	}
}
.sponsor-haeding {
		width : 1172px;
        margin : 0px auto;
        padding : 15px 0px 20px 0px;
        @media (max-width: 1192px) {
            width : 100%;
            padding : 15px 50px 20px 50px;
        }
	}
.sponsor-list-container {
		width : 1192px;
        margin : 0px auto;
        padding : 30px 0px 20px 0px;
        @media (max-width: 1192px) {
            width : 100%;
            padding : 30px 40px 20px 40px;
        }
	}
.sponsor-list-item {
	width : 33.33333%;
	height: auto;
    vertical-align: top;
    display: inline-block;
    padding :10px;
}
@media (max-width: 991px) {
.sponsor-haeding {
      padding : 15px 30px 20px 30px;
	}
.sponsor-list-container {
	padding : 30px 20px 20px 20px;
}
.sponsor-list-item {
	width : 49.99999%;
}
@media (max-width: 500px) {
.sponsor-haeding {
      padding : 10px 10px 10px 10px;
	}
.sponsor-list-container {
	padding : 10px 0px 20px 0px;
}
.sponsor-list-item {
	width : 49.9999%;
	padding :3px;
}
}
}
