.project-detail-qna, .project-detail-post-item-comments-container {
	display: flex;
	flex-flow: column;
	.sharing-fb-icon-list {
		margin-right : 0px !important;
	}
}
	.project-detail-qna-item {
		padding : 25px 0px 30px 0px;
		border-bottom : 1px solid #eee;
	}
	.project-detail-qna-item:last-child {
		border-bottom : none;
	}
	.project-detail-post-qna-item {
		padding : 25px 0px;
		border-top : 1px solid #eee;
	}
	.project-detail-post-qna-item:last-child {
		border-bottom : 1px solid #eee;
		margin-bottom : 20px;
	}
	.sharing-name {
		margin-right : 5px !important;
	}

	.project-detail-qna-form {
		display: flex;
		flex-flow: column;
		padding-bottom : 30px;
		border-bottom : 2px solid #eee;

		& > div {
			display: flex;
			flex-flow: row;

			& > div {
				width: 100%;
			}
		}
	}
	.qna-item-container {
		display: flex;
    	flex-flow: row;
    	margin-bottom : 10px;
    	.qna-detail-text {
    		margin-bottom : 20px;
    		@media (max-width : 500px) {
				margin-bottom : 15px;
			}
    	}
    	.sharing-summary {
    		width : 700px;
    		@media (max-width : 991px) {
    			width : 100%;
    		}
    	}
    	.Collapsible__contentInner {
    		padding : 0px;
    		border-bottom : 0px;
    	}
    	.Collapsible__trigger.is-closed, .Collapsible__trigger.is-open {
    		border : none;
    		color : #150C8B;
    		padding : 0px;
    		background : transparent;
    		display : inline-block;
			font-weight : 600;
			line-height : 27px;
			height : 38px;
			cursor : pointer;
    	}
    	.Collapsible__trigger.is-open:after {
    		margin-left : 5px;
    		font-size : 12px;
			font-family : Ionicons;
			content : "\f3d8";
		}
		.Collapsible__trigger.is-closed:after {
			margin-left : 5px;
    		font-size : 12px;
			font-family : Ionicons;
			content : "\f3d0";
		}
    	.qna-form-submit {
    		width : 100% !important
    	}
    	.qna-form-textarea {
    		width : 100% !important;
    		height : 80px;
    	}
    	.project-detail-qna-form {
    		border : none;
    		padding-bottom : 0px;
    	}
	}
	
	.qna-form-user-icon {
		border-radius : 100px;
		border : 1px solid #ddd;
		margin-right : 20px;
		@media (max-width : 500px) {
				width : 50px !important;
				height : 50px !important;
				margin-right : 13px;
			}	
	}
	.qna-form-user-icon-sub {
		border-radius : 100px;
		border : 1px solid #ddd;
		margin-right : 20px;
		@media (max-width : 500px) {
				width : 40px !important;
				height : 40px !important;
				margin-right : 10px;
			}	
	}
	.qna-form-textarea {
		width : 700px;
		border : 1px solid #ddd;
		border-radius : 3px;
		padding : 8px;
		font-size : 16px;
		@media (max-width : 991px) {
				width : 100%;
			@media (max-width : 500px) {
				width : 85%;
			}	
			}
	}
	.qna-form-textarea:focus {
		border : 1px solid #150C8B;
		outline : none;
	}
	.qna-form-submit-container {
		display : block !important;
		text-align : right;
		@media (max-width : 991px) {
		display :flex !important;
		}
		.qna-form-submit {
			margin-top : 8px;
			width : 700px;
			height : 40px;
			border : none;
			outline : none;
			border-radius : 3px;
			background : #150C8B;
			color : #fff;
			font-size : 16px;
			font-weight : 600;
			@media (max-width : 991px) {
				width : 100%;
				height : 38px;
				font-size : 15px;
			@media (max-width : 500px) {
				width : 100%;
			}	
			}
		}
		.qna-form-submit:hover {
			background : #0d0669;
		}
	}


.qna-form-submit-empty {
			@media (max-width : 991px) {
				width : 120px;
				display : inline-block;
			@media (max-width : 500px) {
				width : 80px;
			}	
			}
}

.comment-delete-button {
	width: 25px;
    height: 25px;
    border: none;
    outline: 0;
    background: 0 0;
    padding: 0!important;
    float : right;
}
.comment-delete-button:before {
	font-family: Ionicons;
    content: "\f404";
    color: #888;
    font-size: 20px;
    font-weight: 400;
    @media (max-width : 500px) {
				font-size: 18px;
	}	
}
