.reset-text {
    font-size : 16px;
    margin-bottom : 15px;
}
.forgot-info-container {
    background: transparent;
    margin: 0px 3px 20px;
    border: 1px solid #6662ff;
    padding: 5px;
}
.forgot-info-message {
    font-size : 15px !important;
    font-weight : 600 !important;
    color : #6662ff;
}