.notifications-tr {
    top: 40% !important;
    left: 50% !important;
    bottom : 0 !important;
    right : 0 !important;
    text-align : center;
}
.notification-title {
    margin : 0px !important;
    color : #333 !important;
    padding : 20px 0px !important;
}
.notification.notification-success.notification-visible {
    right : 50% !important;
    color : #333 !important;
    background : #fff !important;
    border-radius : 0px !important;
    border : none !important;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    height : auto !important;
    padding : 20px !important;
    will-change: opacity !important;
    transition: 0.3s opacity !important;
    font-size : 14px !important;
}
.notification.notification-success {
    right : 50% !important;
    color : #333 !important;
    background : #fff !important;
    border-radius : 0px !important;
    border : none !important;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    height : auto !important;
    padding : 20px !important;
    will-change: opacity !important;
    transition: 0.3s opacity !important;
    margin: 10px 0px 0px !important;
    font-size : 14px !important;
}
.notification.notification-error.notification-visible {
    right : 50% !important;
    color : #a94442 !important;
    background : #fff !important;
    border-radius : 0px !important;
    border : none !important;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    height : auto !important;
    padding : 20px !important;
    will-change: opacity !important;
    transition: 0.3s opacity !important;
    font-size : 14px !important;
    .notification-title {
        color: #d6201d !important;
    }
}
.notification.notification-error {
    right : 50% !important;
    color : #a94442 !important;
    background : #fff !important;
    border-radius : 0px !important;
    border : none !important;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;
    height : auto !important;
    padding : 20px !important;
    will-change: opacity !important;
    transition: 0.3s opacity !important;
    margin: 10px 0px 0px !important;
    font-size : 14px !important;
}
.notification-dismiss {
    background : transparent !important;
    color : #555 !important;
    font-weight : normal !important;
}