.header-menu-mobile {
    display : none;
    @media (max-width : 991px) {
        position : fixed;
        display : block;
        background : #fff;
        z-index: 100;
        width: 100%;
        border-bottom : 1px solid #bbb;
    }
    .Collapsible {
        display : inline-block;
        float : left;
        position : fixed;
        width : 100%;
    }
    .Collapsible__contentOuter {
        margin-top : 1px;
        width : 100%;
        background : #fff;
    }
    .Collapsible__trigger.is-open {
	    width: 60px;
        height: 54px;
        background : transparent;
        border : none;
        outline : none;
        border-right : 1px solid #bbb;
        color : #333;
        vertical-align : middle;
        padding: 10px;
        cursor : pointer;
        text-align : center;
    }
    .Collapsible__trigger.is-open:before {
    	font-family : Ionicons;
        content : "\f3d8";
        font-size : 28px;
        line-height : 1.2;
        width : 54px;
        height : 54px;
    }
    .Collapsible__trigger.is-closed {
    	width: 60px;
        height: 54px;
        background : transparent;
        border : none;
        outline : none;
        border-right : 1px solid #bbb;
        color : #333;
        vertical-align : middle;
        padding: 10px;
        cursor : pointer;
        text-align : center;
    }
    .Collapsible__trigger.is-closed:before {
    	font-family : Ionicons;
    	content : "\f2f5";
    	font-size : 28px;
        line-height : 1.3;
        width : 54px;
        height : 54px;
    }
    .Collapsible__contentInner {

    }

.header-search-form-opened {
    border-bottom : 1px solid #bbb;
    .header-search-form {
        display : inline-block;
    }
    .header-search {
        height : 54px;
        background : transparent;
        border : none;
        outline : none;
        color : #333;
        vertical-align : middle;
        padding : 0px 10px;
        width : 240px;
        background : #fff;
        
    }
    .header-search::-webkit-input-placeholder {
        color : #333;
    }
    .header-search::-moz-placeholder {
        color : #333;
    }
    .header-search:-ms-input-placeholder {
        color : #333;
    }
    .header-search:-moz-placeholder {
        color : #333;
    }
    .header-search-submit {
        width: 60px;
        height: 54px;
        background : #fff;
        border : none;
        outline : none;
        border-right : 1px solid #bbb;
        color : #333;
        vertical-align : middle;
        padding: 10px;
    }
    .header-search-submit:before {
        font-family : Ionicons;
        content : "\f2f5";
        font-size : 28px;
        line-height : 1.3;
        width : 54px;
        height : 54px;
    }
    
}

.header-menu-mobile-search {
    display : inline-block;
    float : left;
    position : fixed;
    .header-search-open {
        width: 60px;
        height: 54px;
        background : transparent;
        border : none;
        outline : none;
        border-right : 1px solid #bbb;
        color : #333;
        vertical-align : middle;
        padding: 10px;
    }
    .header-search-open:before {
        font-family : Ionicons;
        content : "\f2f5";
        font-size : 28px;
        line-height : 1.1;
        width : 54px;
        height : 54px;
    }
}
.header-menu-mobile-logo {
    width : 100%;
    text-align : center;
    display : inline-block;
    .header-menu-logo {
        height : 54px;
        width : auto;
        padding : 14px;
    }
}

.header-menu-mobile-burger {
    display : inline-block;
    position : fixed;
    float : right;
    right : 0;
    .bm-overlay {
    left : 0;
    }
    .bm-menu {
        width : 100%;
        text-align : center;
        padding : 10px 9px 20px 9px;
    }
    .bm-menu-wrap {
        background : #333;
    }
    .bm-icon {
        width: 60px !important;
        height: 54px !important;
        background: 0 0;
        border: none;
        outline: 0;
        border-left: 1px solid #bbb;
        color: #333;
        vertical-align: middle;
        padding: 10px;
    }
    .bm-icon:before {
        font-family: Ionicons;
        content: "\f20e";
        font-size: 34px;
        line-height: 1;
        width: 54px;
        height: 54px;
    }
    .bm-cross-button {
      height: 54px;
      width: 54px;
      display : none;
    }
    .bm-cross {
      background: #fff;
      height: 18px !important;
      width: 3px !important;
      display : none;
    }
    .mobile-burger-user-icon {
        border-radius : 100px;
        border : 1px solid #fff;
        margin : 20px auto 10px auto;
    }
    .mobile-burger-user-name {
        font-size : 14px !important;
        font-weight : 600 !important;
        color : #fff;
    }
    .mobile-burger-profile-container {
        display : inline-block;
        width : 50%;
        padding : 3px;
        margin-top : 8px;
        .mobile-burger-profile {
            font-size : 13px !important;
            color : #fff;
            border : 1px solid #fff;
            border-radius : 2px;
            height : 25px;
            line-height : 23px;
        }
    }
    .mobile-burger-login, .mobile-burger-signup {
        font-size : 18px !important;
        font-weight : 600 !important;
        color : #fff;
        background : #222;
        height: 36px;
        margin: 10px 0px;
        line-height: 36px;
    }
    
    .mobile-burger-whatson {
        font-size : 20px !important;
        font-weight : 600 !important;
        color : #fff;
        height: 50px;
        line-height: 47px;
        border-top : 1px solid #fff;
        margin-top : 30px;
    }
    .mobile-burger-magazine {
        font-size : 20px !important;
        font-weight : 600 !important;
        color : #fff;
        height: 50px;
        line-height: 47px;
        border-top : 1px solid #fff;
    }
    .mobile-burger-sponsor {
        font-size : 20px !important;
        font-weight : 600 !important;
        color : #fff;
        height: 50px;
        line-height: 47px;
        border-top : 1px solid #fff;
        border-bottom : 1px solid #fff;
    }
    .mobile-burger-suggest-modal-button {
        margin-top : 30px;
        font-size : 18px !important;
        font-weight : 600 !important;
        color : #fff;
        width : 100%;
        height: 38px;
        line-height: 34px;
        border: 1px solid #fff;
        border-radius : 3px;
        background : transparent;
    }
    .mobile-burger-suggest-modal-button:hover, .mobile-burger-suggest-modal-button:focus {
        border: 1px solid #4b709a;
        border-radius : 3px;
        background : #4b709a;
    }
    div {
        display : inline-block;
    }
    .project-modal-header {
        display : block !important;
    }
    .suggest-modal-button, .suggest-modal-button:focus {
        height : 33px;
        padding : 0px 18px;
        background : transparent;
        outline : none;
        border : 1px solid #333;
        border-radius : 2px;
        color : #333;
        vertical-align : middle;
        font-weight : 600;
        margin-right : 20px;
        transition : opacity, 220ms;
    }
    .suggest-modal-button:hover {
        border : 1px solid #4b709a;
        background : #4b709a;
        color : #fff;
        transition : opacity, 220ms;
        }
    .mobile-burger-sns-container {
        display : block;
        width : 100%;
        margin-top : 30px;
        .mobile-burger-sns {
            display : inline-block;
            width : 25%;
            height : 43.5px;
            vertical-align : middle;
            .mobile-burger-sns-facebook, .mobile-burger-sns-instagram, .mobile-burger-sns-kakaotalk, .mobile-burger-sns-blog {
                border : none;
                border-radius : 100px;
                color : #777;
                background : transparent;
                outline : none;
                width : 100%;
                height : 100%;
            }
            .mobile-burger-sns-facebook:before {
                font-family : Ionicons;
                font-size : 28px;
                content : "\f231";
                
            }
            .mobile-burger-sns-instagram:before {
                font-family : Ionicons;
                font-size : 28px;
                content : "\f350";
            }
            .kakao-icon {
                fill : #777;
                line-height : 0.9;
            }
            .mobile-burger-sns-blog:before {
                font-family : Ionicons;
                font-size : 28px;
                content : "\f23d";
            }
        }
    }
    .mobile-burger-logout-container {
        display : block;
        text-align : right;
    }
    .mobile-burger-logout {
        border : none;
        outline : none;
        font-size : 13px;
        font-weight : 600;
        color : #fff;
        background : transparent;
        margin-top : 10px;
    }
    .mobile-burger-logout:after {
        font-family : Ionicons;
        content : "\f29f";
        margin-left : 3px;
    }
    
    }
}

.header-menu-mobile-empty-space {
    display : none;
    @media (max-width : 991px) {
        display : block;
        width : 100%;
        height : 54px;
    }
}