.header-menu-fixed {
    background : transparent;
    position: absolute;
    z-index: 100;
    width: 100%;
    border-bottom : 1px solid #fff;
    @media (max-width : 991px) {
        display : none;
    }
.header-menu-container {
    width: 1172px;
    margin: 13px auto;
}
.header-menu-fixed-left {
    display : inline-block;
    width : 35%;
    .header-search-form {
        display : inline-block;
    }
    .header-search {
        width : 270px;
        height : 33px;
        border : 1px solid #fff;
        background : transparent;
        outline : none;
        color : #fff;
        vertical-align : middle;
        margin-left : 10px;
        padding : 0px 10px;
    }
    .header-search::-webkit-input-placeholder {
        color : #fff;
    }
    .header-search::-moz-placeholder {
        color : #fff;
    }
    .header-search:-ms-input-placeholder {
        color : #fff;
    }
    .header-search:-moz-placeholder {
        color : #fff;
    }
    .header-search-submit {
        background : transparent;
        width: 33px;
        height: 33px;
        border :1px solid #fff;
        border-left : none;
        outline : none;
        color : #fff;
        vertical-align : bottom;
        margin-right : 5px;
    }
    .header-search-submit:before {
        font-family : Ionicons;
        content : "\f2f5";
        font-size : 19px;
    }
    .header-menu-logo {
        width : 33px;
        margin : 10px 0px 10px 10px;
    }
    .header-menu-text-left, .header-menu-text-look {
        display : inline-block;
        color : #fff;
        font-size : 17px !important;
        font-weight : 600 !important;
        margin-left : 20px !important;
        vertical-align : middle;
        letter-spacing : -.3px;
        font-family : NanumSquare;
        cursor : pointer;
    }
    .header-menu-text-look:before {
        font-family: Ionicons;
        content: "\f20e";
        margin-right : 5px;
    }
}

.header-menu-fixed-middle {
    text-align : center;
    display : inline-block;
    width : 30%;
    .header-menu-logo {
        width : 35%;
    }
}

.header-menu-fixed-right {
    text-align : right;
    display : inline-block;
    width : 35%;
    div {
        display : inline-block;
    }
    .project-modal-header {
        display : block !important;
    }
    .header-menu-text-left {
        display : inline-block;
        color : #fff;
        font-size : 17px !important;
        font-weight : 600 !important;
        margin-right : 20px !important;
        vertical-align : middle;
        letter-spacing : -.3px;
        font-family : NanumSquare;
        cursor : pointer;
    }
    .header-menu-text-right {
        display : inline-block;
        color : #fff;
        font-size : 17px !important;
        font-weight : 600 !important;
        margin-right : 20px !important;
        vertical-align : middle;
        letter-spacing : -.3px;
        font-family : NanumSquare;
    }
    .suggest-modal-button, .suggest-modal-button:focus {
        height : 33px;
        padding : 0px 18px;
        background : transparent;
        outline : none;
        border : 1px solid #fff;
        border-radius : 2px;
        color : #fff;
        vertical-align : middle;
        font-weight : 600;
        margin-right : 20px;
        transition : opacity, 220ms;
    }
    .suggest-modal-button:hover {
        border : 1px solid #6662ff;
        background : #6662ff;
        color : #fff;
        transition : opacity, 220ms;
    }
    .user-hover-menu {
        display : inline-block;
        cursor : pointer;
        .menu-user-icon {
            border-radius : 50px;
            margin-right : 20px;
            -webkit-box-shadow: 1px 1px 1px 0px rgba(85,85,85,1);
            -moz-box-shadow: 1px 1px 1px 0px rgba(85,85,85,1);
            box-shadow: 1px 1px 1px 0px rgba(85,85,85,1);
        }
        .user-hover-menu-container {
            display : none;
        }
        .user-hover-menu-arrow {
            display : none;
        }
    }
    .user-hover-menu:hover {
        .user-hover-menu-container {
            position : absolute;
            right : 25px;
            top : 64px;
            display : inline-block;
            background : #000;
            z-index : 101;
            text-align : center;
            width : 141px;
            padding : 10px 0px;
            border-radius : 1px;
            .header-menu-hover-text {
                color : #fff;
                font-size : 15px !important;
                font-weight : 600 !important;
                margin : 0px !important;
                padding : 10px 0px !important;
            }
            .header-menu-hover-text:hover {
                background : #555;
            }
        }
        .user-hover-menu-arrow {
            position : absolute;
            right : 25px;
            top : 31px;
            display : inline-block;
            background : #transparent;
            color : #000;
            z-index : 101;
            text-align : right;
            width : 141px;
        }
        .user-hover-menu-arrow:before {
            font-family : Ionicons;
            content : "\f365";
            font-size : 40px;
        }
    }
}

}

.user-new-notice {
    position: absolute;
    font-size: 8px;
    border-radius: 30px;
    background: #f92222;
    width: 13px;
    height: 13px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 13px;
    right: 15px;
    top: 9px;
}
.user-new-notice-2 {
    position: absolute;
    font-size: 8px;
    border-radius: 30px;
    background: #f92222;
    width: 13px;
    height: 13px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 13px;
    right: 25px;
    top: 107px;
}
.user-new-notice-3 {
    position: absolute;
    font-size: 8px;
    border-radius: 30px;
    background: #f92222;
    width: 13px;
    height: 13px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 13px;
    right: 11px;
    top: 9px;
}
.user-new-notice-4 {
    position: absolute;
    font-size: 7px;
    border-radius: 30px;
    background: #f92222;
    width: 11px;
    height: 11px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 11px;
    right: 20px;
    top: 60px;
}

.header-user-new-notice {
    font-size: 0px;
    width: 8px;
    height: 8px;
    line-height: 13px;
    position: absolute;
    border-radius: 30px;
    background: #f92222;
    color: #fff;
    font-weight: 800;
    text-align: center;
    top: 10px;
}
.header-modal-new-notice, .header-modal-new-notice:hover {
    display: inline-block;
    margin-right: 7px;
    font-size: 13px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: #f92222;
    text-align: center;
    border-radius: 20px;
    color : #fff;
    @media (max-width : 991px) {
        font-size: 12px;
    }
}

.header-modal-endsoon-notice, .header-modal-endsoon-notice:hover {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    width: 62px;
    height: 18px;
    line-height: 18px;
    background: #6662ff;
    font-weight: 400;
}