.header-menu-mobile {
    display : none;
    @media (max-width : 991px) {
        position : fixed;
        display : block;
        background : #fff;
        z-index: 100;
        width: 100%;
        border-bottom : 1px solid #ddd;
    }
    


.header-menu-mobile-logo {
    width : 100%;
    text-align : center;
    display : inline-block;
    .header-menu-logo {
        height : 54px;
        width : auto;
        padding : 14px;
    }
}

.header-menu-mobile-list {
        display : inline-block;
        position : fixed;
        left : 0;
        z-index : 1;
    .bm-overlay {
        right : 0;
    }
    .bm-menu {
        width : 100%;
        text-align : center;
        padding : 10px 9px;
    }
    .bm-menu-wrap {
        background : rgba(0,0,0,0.8);
    }
    .bm-burger-button {
        z-index: 1;
        width: 60px;
        height: 54px;
        text-align: center;
        line-height: 52px;
    }
    .bm-icon {
        width: 60px!important;
        height: 54px!important;
        background: 0 0;
        border: none;
        outline: 0;
        color: #000;
        vertical-align: middle;
        padding: 10px;
    }
    .bm-icon:before {
        font-family: Ionicons;
        content: "\f20e";
        font-size: 34px;
        line-height: 0.5;
    }
    .bm-cross-button {
      height: 54px;
      width: 54px;
      right: 16px !important;
      top: 10px !important;
    }
    .bm-cross {
      background: #fff;
      height: 22px !important;
      width: 3px !important;
    }
    
}


.header-menu-mobile-burger, .mobile-category-container {
        display : inline-block;
        position : fixed;
        right : 0;
    .bm-overlay {
        left : 0;
    }
    .bm-menu {
        width : 100%;
        text-align : center;
        padding : 10px 9px;
    }
    .bm-menu-wrap {
        background : rgba(0,0,0,0.8);
    }
    .bm-burger-button {
        z-index: 1;
        width: 60px;
        height: 54px;
        text-align: center;
        line-height: 52px;
    }
    .bm-icon {
        background: 0 0;
        outline: 0;
        color: #333;
        vertical-align: middle;
        width: 31px !important;
        height: 31px !important;
        border: 1px solid #ddd;
        border-radius: 100px;
    }
    .bm-cross-button {
      height: 54px;
      width: 54px;
      right: 16px !important;
        top: 10px !important;
    }
    .bm-cross {
      background: #fff;
      height: 22px !important;
      width: 3px !important;
    }
    .mobile-burger-user-icon {
        border-radius: 100px;
        border: 1px solid #eee;
        vertical-align: top;
        margin-left: 10px;
        margin-top: 2px;
    }
    
    }
}

.mobile-burger-user-icon {
    border-radius: 100px;
    border: 1px solid #ddd;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 2px;
}

.header-menu-mobile-login {
    z-index: 1;
}
.header-menu-mobile-login-button {
    width: 60px;
    height: 54px;
    background: 0 0;
    border: none;
    outline: 0;
    color: #333;
    vertical-align: middle;
    padding: 10px;
}
.header-menu-mobile-login-button:before {
    font-family: Ionicons;
    content: "\f3a0";
    font-size: 26px;
    line-height: 1.3;
}

.header-menu-mobile-burger-empty {
    width : 100%;
    height : 50px;
}

.mobile-header-margin {
    display : none;
    @media (max-width : 991px) {
        width : 100%;
        display : block;
        height : 55px;
    }
}

.mobile-category-container {
    display : none;
    
    @media(max-width : 500px) {
        display : block;
        margin: 0px auto;
    }
    .mobile-category-tab {
        padding: 13px 23px 13px 23px;
        font-size: 16px;
        width: 50%;
        background: #fff;
        box-shadow: inset 0 -1px 0 0 #ddd;
        border: none;
        outline: 0;
        font-weight: 500;
        color : #777;
    }
    .mobile-category-tab.mobile-category-tab-clicked {
        box-shadow: inset 0 -1px 0 0 #6662ff;
        color: #6662ff;
        background: #fff;
    }
}