.exhibition-detail-heading {
	& > img {
		// position: absolute;
		width: 100%;
		height: 100%;
		// background-size: contain;
	}

	.exhibition-detail-info {
		// position: absolute;
		color: white;

		display: flex;
		flex-flow: column;

		.sharing-icon {
			width: 24px; height: 24px; margin-bottom:3px !important; vertical-align:middle;
		}

	}
	.share-button {
		background : transparent;
	}
}
.exhibition-info {
	padding-top : 180px;
	text-align : center;
	height : 500px;
	background : rgba(0, 0, 0, 0.35);
}

.kakao-icon {
	vertical-align: -38%;
}

.share-button-kakao {
	display : none;
}
.share-button-facebook, .share-button-twitter, .share-button-url {
	width : 33.33333333333333333333333%;
	display : inline-block;
	height: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
	background : #fff;
	color : #150C8B;
	fill : #150C8B;
    border : 1px solid #ddd;
}

.share-button-facebook, .share-button-twitter, .share-button-kakao {
	border-right : none;
}

.share-button-facebook:hover, .share-button-twitter:hover, .share-button-kakao:hover, .share-button-url:hover {
	background : #150C8B;
	color : #fff;
	fill : #fff;
	border : none;
}
.share-button-facebook:focus, .share-button-twitter:focus, .share-button-kakao:focus, .share-button-url:focus {
	outline : none;
	border : none;
}

@media (max-width: 991px) {
	.share-button-facebook, .share-button-twitter, .share-button-kakao, .share-button-url {
	width : 25%;
	display : inline-block;
	height: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
	background : #fff;
	color : #150C8B;
	fill : #150C8B;
    border : 1px solid #ddd;
	}
	.share-button-facebook, .share-button-twitter, .share-button-kakao {
	border-right : none;
}
.exhibition-info {
	padding-top : 145px;
	height : 400px;
}
@media (max-width: 500px) {
	.exhibition-info {
	padding-top : 145px;
	height : 400px;
}
}
}