<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello World!</title>

		<script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
		<script src="/bower_components/underscore/underscore-min.js" charset="utf-8"></script>
		<script src="/assets/js/bootstrap.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/assets/fonts/googlefonts.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/fonts/googlefonts.css">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		404: Not Founded
		<script src="/react-app.js" charset="utf-8"></script>
		<script src="/assets/js/main.js" charset="utf-8"></script>
	</body>
</html>
