<html>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<head>
		<title>[7Pictures] 이메일인증</title>
	</head>
	<body>
		<div class="mail-body">
			<div class="mail-logo-body">
				<img class="mail-logo" src="https://7pictures.kr/assets/images/7pictures_mail.jpg" > 
			</div>
			<div class="mail-content-body">
				<div class="mail-content-title">[이메일 인증]</div>
				<div class="mail-content-text">
					이메일 주소 인증을 위해 아래의 숫자를 인증란에 정확히 입력해주세요.
				</div>
				<div class="mail-content-empty"></div>
				<div class="mail-content-text">
					인증번호 : <%= checkNumber %>
				</div>
			</div>
		</div>
	</body>
</html>
