<html>
	<head>
		<title>새로운 소식</title>
	</head>
	<body>
		<h3><%= projectName %>에 새로운 소식이 등록되었습니다.</h3>
		<a href="http://7pictures.kr:8080/projects/<%= projectName %>"><button>바로가기</button</button></a>
	</body>
</html>
