.add-address-container {
	text-align: center;
    margin: 25px 0 20px;
	.add-address-button, .add-address-button:focus {
		width : 50%;
		height : 36px;
		border : none;
		outline : none;
		border-radius : 3px !important;
		background : #150C8B;
		color : #fff;
		font-weight : 600;
		@media (max-width : 500px) {
		width : 100%;
		}
	}
	.add-address-button:hover {
		background : #0d0669;
	}
	.add-address-button:before {
	    font-family : Ionicons;
	    content : "\f218";
	    margin-right : 6px;
	    font-size : 13px;
	}
}