.add-address-container {
	text-align: center;
    margin: 25px 0 20px;
	.add-address-button, .add-address-button:focus {
		width : 50%;
		height : 36px;
		border : none;
		outline : none;
		border-radius : 3px !important;
		background : #6662ff;
		color : #fff;
		font-weight : 600;
		font-family: NanumSquare;
		@media (max-width : 500px) {
		width : 100%;
		}
	}
	.add-address-button:hover {
		background : #5346ff;
	}
	.add-address-button:before {
	    font-family : Ionicons;
	    content : "\f218";
	    margin-right : 6px;
	    font-size : 13px;
	}
}

.profile-setting-addressee_name-container {
	display: inline-block;
    width: 20%;
    padding-top : 6px;
    padding-right: 6px;
    @media (max-width : 500px) {
    	width : 40%;
    }
}
.profile-setting-addressee_number-container {
	display: inline-block;
    width: 30%;
    padding-top : 6px;
    padding-right : 10px;
    @media (max-width : 500px) {
    	width : 60%;
    	padding-right : 0px;
    }
}
.profile-setting-addressee_name {
	border: 1px solid #bbb;
    border-radius: 3px;
    outline: 0;
    width: 100%;
    height: 36px;
    padding: 0 8px;
    font-weight: 600!important;
    color: #333;
    font-family: NanumSquare;
}
.profile-setting-addressee_number {
	border: 1px solid #bbb;
    border-radius: 3px;
    outline: 0;
    width: 100%;
    height: 36px;
    padding: 0 8px;
    font-weight: 600!important;
    color: #333;
    font-family: NanumSquare;
}
.profile-setting-addressee_name:focus, .profile-setting-addressee_number:focus {
	border-color : #6662ff;
}