.purchase-stage-result-container {
	padding: 30px 16px;
    background: #f8f8f8;
    border-radius: 4px;
    @media (max-width:500px) {
    	padding : 30px 10px;
    }
}
.purchase-stage-result-container-2 {
	padding: 30px;
    background: #f8f8f8;
    border-radius: 4px;
    margin-top : 20px;
}
.purchase-thanks-text {
	text-align : center;
	margin : 0px !important;
	line-height : 1.5 !important;
	color : #444;
}
.purchase-result-text {
	text-align : left;
	margin : 0px !important;
	line-height : 1.7 !important;
	color : #333;
}
.purchase-shipping-info {
	text-align : center;
	margin-top : 20px;
	line-height : 1.5 !important;
	color : #ff8300;
	font-size : 19px;
	letter-spacing : -1px;
}
.purchase-shipping-info-sub {
	display: inline-block;
	margin-right : 4px;
}
.purchase-shipping-info-day {
	display: inline-block;
	margin-right : 4px;
}
.purchase-fail-text1 {
	text-align : center;
	text-align: center;
    font-family: NanumSquare;
    font-size: 18px;
    font-weight : 600;
}
.purchase-fail-text2 {
	text-align : center;
	text-align: center;
    font-family: NanumSquare;
    font-size: 18px;
    margin-top : 8px;
}