@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
// @import "./react-components/ThumbnailSlider/_ThumbnailSlider.scss";
@import "../../react/components/**/*";

// http://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.body {
	div {
		text-align: center;
	}
}

button, button:focus, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-webkit-outline : none;
}
